.i {
  background-image: url(../images/icons/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

* {
  line-height: 100%;
}
body {
  color: #000;
  font: 14px/18px Arial, Helvetica, Time, sans-serif;
  min-width: 320px;
}
@font-face {
  font-family: 'InterstateCyr-Regular';
  src: url('../fonts/InterstateCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/InterstateCyr-Regular.otf') format('opentype'), url('../fonts/InterstateCyr-Regular.woff') format('woff'), url('../fonts/InterstateCyr-Regular.ttf') format('truetype'), url('../fonts/InterstateCyr-Regular.svg#InterstateCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InterstateCyr-Bold';
  src: url('../fonts/InterstateCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/InterstateCyr-Bold.otf') format('opentype'), url('../fonts/InterstateCyr-Bold.woff') format('woff'), url('../fonts/InterstateCyr-Bold.ttf') format('truetype'), url('../fonts/InterstateCyr-Bold.svg#InterstateCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1200px) {
  .container {
    width: 956px;
  }
}
.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.btn.btn-blue {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 7px 20px;
  background: #3c81bb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjODFiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODVkOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3c81bb 0%, #285d9b 100%);
  background: -webkit-linear-gradient(top, #3c81bb 0%, #285d9b 100%);
  background: linear-gradient(to bottom, #3c81bb 0%, #285d9b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c81bb', endColorstr='#285d9b', GradientType=0);
}
.btn.btn-link,
.btn.btn-link-arrow {
  color: #05589d;
  font-size: 12px;
}
.btn.btn-link-arrow span {
  color: #666;
  margin-right: 5px;
}
.btn.btn-link-arrow span + span {
  color: #05589d;
  margin-right: 0;
}
.btn.btn-link-arrow:hover span + span {
  text-decoration: underline;
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.breadcrumb li,
.breadcrumb a {
  color: #4d4d4d;
  font-size: 11px;
}
.breadcrumb > li + li:before {
  color: #4d4d4d;
  content: "\7C";
}
.breadcrumb li.active,
.breadcrumb li.active a {
  color: #000;
}
.categories ul li {
  padding: 12px 5px;
  border-bottom: 2px dotted #999;
}
.categories ul li a {
  color: #4d4d4d;
  font-size: 12px;
  font-family: Arial;
  text-transform: uppercase;
}
.news__grid {
  padding: 0 10px;
}
.news__grid .grid__item {
  margin-bottom: 22px;
  padding-right: 5px;
  padding-left: 5px;
}
.news__grid .grid__item .item__img img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-bottom: 8px solid #3778b3;
}
.news__grid .grid__item .item__content {
  color: #333;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 14px;
  border-left: 1px solid #ededed;
}
.advantages .advantage__item {
  font-size: 0;
  margin-bottom: 8px;
}
.advantages .advantage__item .item__wrapper {
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.14);
}
.advantages .advantage__item .item__img,
.advantages .advantage__item .item__content {
  display: inline-block;
  vertical-align: top;
}
.advantages .advantage__item .item__content {
  width: 205px;
  padding: 28px 15px 5px 28px;
}
.advantages .advantage__item .item__content .item_title,
.advantages .advantage__item .item__content .item_title a {
  color: #000;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.advantages .advantage__item .item__content .item_text {
  color: #333;
  font-size: 12px;
  line-height: 14px;
}
#content {
  margin-top: 25px;
  margin-bottom: 55px;
}
#content .content__title {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#content .content__img {
  margin-left: -28px;
  margin-bottom: 20px;
}
#content .content__actions {
  text-align: right;
  margin-bottom: 15px;
}
#content .content__disclaimer {
  color: #666;
  line-height: 17px;
  font-size: 11px;
  padding-top: 20px;
  margin-top: 70px;
  border-top: 1px solid #d8d8d8;
}
#content .content__disclaimer ul li {
  line-height: 17px;
}
#content .content__topline {
  margin: 0 15px;
  border-bottom: 2px solid #e6e6e6;
}
#content .content__topline .sidebar__left {
  padding-left: 0;
}
#content .content__topline .sidebar__content {
  min-height: 0;
  background: none;
  padding-left: 15px;
}
#content .sidebar__left {
  padding-right: 0;
}
#content .sidebar__left .sidebar__left-title {
  font-size: 15px;
  font-family: 'InterstateCyr-Bold', Helvetica, Arial;
  text-transform: uppercase;
  margin-bottom: 17px;
}
#content .sidebar__content {
  min-height: 612px;
  background: url(../images/content_bg.jpg) no-repeat top left;
  padding-right: 15px;
  padding-left: 30px;
}
@media (max-width: 1200px) {
  #content .sidebar__left .sidebar__left-title {
    padding-bottom: 13px;
    border-bottom: 1px solid #333;
  }
  #content .sidebar__content {
    background: none;
    padding-left: 15px;
  }
  #content .content__img {
    margin-left: 0;
  }
  #content .content__topline {
    border-bottom: none;
  }
  #content .content__topline .sidebar__left {
    margin-left: -15px;
    margin-right: -15px;
  }
  #content .content__topline .sidebar__left .sidebar__left-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  #content .content__topline .sidebar__content {
    padding-left: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  #content .content__img {
    margin-left: -15px;
    margin-right: -15px;
  }
  #content .content__title {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 55px;
  }
  #content .sidebar__left .sidebar__left-title {
    margin-bottom: 10px;
  }
  .news__grid .grid__item {
    float: left;
    width: 50%;
  }
  .advantages .advantage__item .item__content .item_title a {
    font-size: 14px;
    line-height: 16px;
  }
  .advantages .advantage__item .item__content .item_text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 479px) {
  .news__grid .grid__item {
    float: none;
    width: 100%;
  }
  .advantages .advantage__item {
    padding-left: 0;
    padding-right: 0;
  }
  .advantages .advantage__item .item__img {
    width: 109px;
  }
  .advantages .advantage__item .item__img img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .advantages .advantage__item .item__content {
    padding: 25px 15px 5px 25px;
  }
  .advantages .advantage__item .item__content .item_title a {
    font-size: 13px;
    line-height: 15px;
  }
  .advantages .advantage__item .item__content .item_text {
    font-size: 11px;
    line-height: 13px;
  }
  #content .content__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
